*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height:100%;
}

body{
    font-family: 'Nunito', sans-serif;
    font: 100%;
    height:100%;
    background-color: #f5f5f5;
}

.container{
  
}


/* svg{ 
    width: 20px;
    height: 20px;
}*/
.menu-toggler{
   display: none;
   
}

.menu-wrap{
    position: fixed;    
    height: 40px;
    width: 40px;
    border: solid 1px #fff;
    right: 5%;
    top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    height: 4px;
    background-color: #fff;
    position: relative;
    display: flex;
    transition: all .3s;
}

.menu-icon:before, .menu-icon:after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: -10px;
    background-color: #fff;
    transition: all .3s;
}

.menu-icon:after{
    top: 10px;
}

.container .menu-toggler:checked ~ .menu-wrap .menu-icon{
    background-color: transparent;   
}

.container .menu-toggler:checked ~ .menu-wrap .menu-icon:before{
    top: 0;
    transform: rotate(45deg);   
}

.container .menu-toggler:checked ~ .menu-wrap .menu-icon:after{
    top: 0;
    transform: rotate(-45deg);   
}


.navbar{
    background-color: rgba(0, 0, 0, 0.8);
    width:0%;
    height: 100%;
    position: fixed;
    top:0 ;
    right:0;
    z-index: 4;
    overflow-x: hidden;
    /* display: none; */
    padding-top: 50px;
    transition: all ease-in .3s;
    


}
.nav-menu{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 0;
    gap: 70px;
    align-items: center;
    justify-items: center;
    font-weight: 700;
    

}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    /* position: relative; */

}




.nav-menu a:active, .nav-menu a:visited{
    color: #fff;

}

.nav-menu a:hover{   
    color:#f25f4c
}

.nav-menu a:after{
    content: "";
    /* display:none; */
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #fff;
    transition: width ease-in-out .5s;
    display: block;
    
    
}

.nav-menu a:hover:after{
    /* display:block;  */
    width: 25%;
    /* height: 4px; */
    /* background-color: #fff; */
      
}


.container .menu-toggler:checked ~ .navbar{
    /* display: block;  */
    width: 50%;
}

.welcome-section{
    
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* background-color: blue; */
    background-image: url(../img/img2.jpg);  
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    justify-content: center;
    background-position:center ;
    align-items: center;
    position: relative;
    color: #f25f4c;
    z-index: -5;
    

}

.welcome-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(64,64,64, 0.90);
    

}

.welcome-heading{
    font-size: 4rem;
    font-style: bold;
    margin-bottom: 1rem;
    text-align: center;
    
}

.welcome-text{
    font-size: 1.5rem;
    /* font-style: bold; */
    text-align: center;
    color: #fff;
    
}

.plus{
    margin: 0 .5rem;
    font-size: 2rem;
}



h1, h3{
    position: relative;
   
}

.my-projects{
    background-color:#404040;
    padding-bottom: 100px
}

.pro-heading{
    padding:3rem .8rem;
    text-align: center;
    color: #f5f5f5;
}

.pro-container{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 0.9rem 0;
    padding: 0 1rem;
    
    
}

.thumbnail{
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #666;
    border-radius: 10px; */
    
}

.projects{
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    object-fit: cover;
    /* border-radius: 8px 8px 0 0; */
    margin-bottom: 0;
}

.project-title{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    /* border-radius: 0 0 8px 8px; */
}

.all-pro{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.all{
    text-decoration: none;
    margin: 4rem 0 0 0;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 1rem;
    background-color:teal;
    padding: .7rem 1.1rem;
    border-radius: 5px;
    transition: 0.3s linear;
}

.all:hover{
    background-color: #f25f4c;
}

.skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem .9rem 0 .9rem;
    margin-top: 3rem;
    height: 100vh;
    /* background-color: #f8f5f2; */
   
    
}

.skills{
    width: 100%;
    max-width: 650px;
    margin: 10px auto;
    /* background-color: #f3f3f3; */
    overflow: hidden;
    
}

.skill-header{
    text-align: center;
    margin-bottom: 5rem;
}

.skills li{
    list-style: none;
    margin: 40px 0;
    
}


.skills .bars{
    display: block;
    background-color: #353b48;
    height: 7px;
    /* width: 50%; */
    /* margin: 10px 10px; */
    /* padding: 0 100px; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 0 10px #2187e7b3; */
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.skills .bars .progress{
    height: 7px;
    background: #2187e7;
    float: left;
    border-radius: 3px;
    /* box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); */
}

.html{
    width: 90%;
    animation: html 2s;
}

.css{
    width: 80%;
    animation: css 2s;
}

.js{
    width: 35%;
    animation: js 2s;
}

.design{
    width: 20%;
    animation: design 2s;
}

@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width: 35%;
    }
}

@keyframes design{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}
.html-percentage, .css-percentage, .js-percentage, .design-percentage{
    position: absolute;
    left: 91%;
    top: -280%;
    font-size: .8rem;
    font-weight: 700;
    z-index: 1;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008080;
    padding: 3rem 1.5rem;
    /* margin-top: 3rem; */
    /* height:50vh; */
   
}

.contact-header{
    text-align: center;
    padding: 2rem 2rem;
    /* margin-bottom: 2rem */
   
}
.heading-text{
    font-weight:bold;
    font-size: 1.5rem;   
}

.p-text{
    font-size:1rem;
    /* margin: -20px 10px; */
    font-style: italic;
}


.social-icons{
    padding: .7rem;
    color:#404040;
    transition: transform 0.3s ease-out;
}

.social-icons:hover{
    color:#f5f5f5;
    transform: translateY(-8px);
}









@media(min-width:560px){

    .container{
        margin: 0 auto;
    }

    .navbar{
        
        min-width:100%;
        height: auto;
        position: fixed;
        top:0 ;
        left:0;
        right: 0;
        z-index: 5;
        display: flex;
        padding: 10px 20px;
        justify-content: flex-end;
        background-color:#008080;
       
    } 

    .nav-menu a{
        padding-right: 20px;
       
    }

    .menu-wrap{
        display:none
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    .nav-menu a:hover:after{
        width: 4.5%;
        
        
    }

    .welcome-section{
        background-attachment: fixed;
        /* margin-top:10rem; */
    }

    .welcome-heading{
        font-size: 7rem;
        font-style: 900;
    }

    
    .welcome-text{
        font-size: 2.5rem;
        /* font-style: bold; */
        color:#fff;
        
    }

    .my-projects{
        margin-top: 3rem;
    }

    .pro-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px 20px;
        padding: 0 3rem;
    }

    .thumbnail{
        border-radius: 10px;
        
        
    }
    
    .projects{
        border-radius: 8px 8px 0 0;
    }
    
    .project-title{
        border-radius: 0 0 8px 8px;
    }

    .all{
        
        font-size: 1.2rem;
        background-color:teal;
        padding: 1rem 2rem;
        
    }

    .heading-text{
        font-weight:900;
        font-size: 3rem;   
    }

    .social-icons{
        font-size: 1.5rem;
       
    }
   
        
}
